.header {
    font-size: 1.7rem;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container {
    max-width: 120rem;
    margin: 0rem auto;
}
.hero {
    height: 70vh;
    // padding: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5E81AC;
}

.description__grid {
    padding-top: 8rem;
    min-height: 50rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
    grid-gap: 6rem;
}