$color-primary: #313E50;
$color-primary-2: #3A435E;
$color-primary-3: #455561;
$color-primary-4: #5C6672;
$color-primary-5: #6C6F7F;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

// NORD COLORS
$color-nord-dark-1: #2E3440;
$color-nord-dark-2: #3B4252;
$color-nord-dark-3: #434C5E;
$color-nord-dark-4: #4C566A;